@model IEnumerable<Teams.Models.Team>
@{
    ViewBag.Title = "My teams";
}
<table class="table">
    <tr><td>Team Name</td><td>Team Owner</td></tr>
    @foreach (var item in Model)
    {
        <tr><td><a>@Html.ActionLink(item.TeamName, "TeamMembers", "ManageTeamMembers", new { team_id = item.Id})</a></td><td>@item.Owner.Email</td></tr>
    }
</table>