@model IEnumerable<Teams.Models.Team>
@{
    ViewBag.Title = "My teams";
}
<table class="table">
    <tr><td>Team Name</td><td>Team Owner</td></tr>
    @foreach (var item in Model)
    {
        <tr><td><a asp-controller="ManageTeamMembers" asp-action="TeamMembers">@item.TeamName</a></td><td>@item.TeamOwner</td></tr>
    }
</table>