@model IEnumerable<Teams.Models.Team>
@{
    ViewBag.Title = "My teams";
}
<script src="https://kit.fontawesome.com/8519ed4a13.js" crossorigin="anonymous"></script>
<table class="table">
    <tr align="center">
        <td align="left" width="1%"></td>
        <td align="left" style="font-weight: bold">Team Name</td>
        <td align="right"></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr align="center">
            @if (item.Owner.Email == User.Identity.Name)
            {
                <td align="left" width="1%"><i title="Owner" class="fas fa-crown"></i></td>
            }
            else
            {
                <td align="left" width="1%"><i title="Member" class="fas fa-user"></i></td>
            }
            <td align="left">@item.TeamName</td>
            <td align="right"></td>
        </tr>
    }
</table>