@model IEnumerable<Teams.Models.Team>
@{
    ViewBag.Title = "My teams";
}

<script src="https://kit.fontawesome.com/8fd96fc88e.js" crossorigin="anonymous"></script>

<table class="table">
    <tr align="center">
        <td align="left" width="1%"></td>
        <td align="left" style="font-weight: bold">Team Name</td>
        <td align="right"></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr align="center">
            @if (item.Owner.Email == User.Identity.Name)
            {
                <td align="left" width="1%"><i title="Owner" class="fas fa-crown"></i></td>
            }
            else
            {
                <td align="left" width="1%"><i title="Member" class="fas fa-user"></i></td>
            }
            <td align="left"><a>@Html.ActionLink(item.TeamName, "TeamMembers", "ManageTeamMembers", new { team_id = item.Id, team_name = item.TeamName, owner_name = item.Owner.Email })</a></td>
            <td align="right"></td>
        </tr>
        <tr>
            <td>@item.TeamName</td>
            <td>@item.TeamOwner</td>
            <td>
                @if(item.Owner.Email == User.Identity.Name)
                { @Html.ActionLink("", "EditTeamName", new { team_id = item.Id },
               new { @class = "fas fa-edit", style = "margin: 10px 0px 0px 30px", align = "right" })
                }
               
            </td>
        </tr>
    }
</table>