@model IEnumerable<Teams.Models.Team>
@{
    ViewBag.Title = "My teams";
}

<script src="https://kit.fontawesome.com/8fd96fc88e.js" crossorigin="anonymous"></script>

<table class="table">
    <tr><td>Team Name</td><td>Team Owner</td></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TeamName</td>
            <td>@item.TeamOwner</td>
            <td>
                @if(item.Owner.Email == User.Identity.Name)
                { @Html.ActionLink("", "EditTeamName", new { team_id = item.Id },
               new { @class = "fas fa-edit", style = "margin: 10px 0px 0px 30px", align = "right" })
                }
               
            </td>
        </tr>
    }
</table>
