@model IEnumerable<Teams.Models.Team>
@{
    ViewBag.Title = "My teams";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/8519ed4a13.js" crossorigin="anonymous"></script>

<table class="table">
    <tr align="center">
        <td align="left" width="1%"></td>
        <td align="left" style="font-weight: bold">Team Name</td>
        <td align="right"></td>
    </tr>
    @foreach (var item in Model)
    {
<tr align="center">
    @if (item.Owner.Email == User.Identity.Name)
    {
        <td align="left" width="1%"><i title="Owner" class="fas fa-crown"></i></td>

    }
    else
    {
        <td align="left" width="1%"><i title="Member" class="fas fa-user"></i></td>
    }
    <td align="left"><a>@Html.ActionLink(item.TeamName, "TeamMembers", "ManageTeamMembers", new { team_id = item.Id})</a></td>

    @if (item.Owner.Email == User.Identity.Name)
    {

        <td align="right"><button type='button' class='btn btn-outline-danger border-0' data-toggle="modal" data-target="#myModal" data-content="@item.TeamName" data-whatever="@item.Id"><i class='far fa-trash-alt'></i></button></td>
        <form>
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog modal-dialog-centered">

                    <div class="modal-content">
                        <div class="modal-body">
                            <p align="center" id="team"></p>
                            <input type="hidden" id="team_id" name="team_id" value="" />
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-secondary" asp-action="Remove">OK</button>
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    }
    else
    {
        <td align="right"></td>
    }
</tr>


}
</table>
<script>
    $(document).ready(function () {
        $("#myModal").on("show.bs.modal", function (event) {
            var button = $(event.relatedTarget)
            var team = button.data('content')
            var teamId = button.data('whatever')
            var removeModal = $("#myModal");
            removeModal.find("#team_id").val(teamId);
            document.getElementById('team').innerHTML = "Are you sure you want to remove " + "<strong>" + team + "</strong>" + "?";
        });
    });

</script>
