@model IEnumerable<Teams.Models.TeamMember>
@{
    ViewBag.Title = "Team Members";
}
<div align="center">
    <h><font size="6" color="red">@ViewBag.TeamName</font></h>
</div>
<table class="table">
    <tr><td>Member Name</td><td>Role</td></tr>
    <tr><td>@ViewBag.TeamOwner</td><td>Owner</td></tr>
    @foreach (var item in ViewBag.Members)
    {
        <tr><td><a asp-controller="ManageTeamMembers" asp-action="TeamMembers">@item.Member.UserName</a></td><td>Member</td></tr>
    }
</table>