@{
    ViewData["Title"] = "GetResultError";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="text-center">
    <h1 class="display-4">Ooops... Something went wrong!</h1>
</div>