align-left {
    text-align: left;
}

.push-right {
    float: right;
}

.сircle-button {
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
}

.table-scrollable {
    overflow: auto;
}