@using Teams.Data.Models
@model Teams.Data.Models.Team

@{
    ViewData["Title"] = "Edit Team Name";
}

<h1>Team Editing</h1>


@using (Html.BeginForm())
{
    <input type="hidden" value="@Model.Id" />
    <table>
        <tr>
            <td>Name</td>
        </tr>
        <tr>
            <td><input type="text" name="teamName" value="@Model.TeamName" /></td>
            @if (ViewBag.resultOfEditing != null && ViewBag.resultOfEditing)
            {
                <td>Saved</td>
            }
            else if (ViewBag.resultOfEditing != null)
            {
                <td>Name is taken</td>
            }
        </tr>
        <tr>
            <td><input type="submit" class="btn btn-primary" value="Save" /></td>
        </tr>
        <tr>
            <td><a class="btn btn-primary" href="GetMyTeams" role="button">Back</a></td>
        </tr>
    </table>
}